doctype html
html
  head
    title Kevin Dice | Home
    // fonts
    link(href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic', rel='stylesheet', type='text/css')
    // //fonts
    link(href='css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/style.css', rel='stylesheet', type='text/css', media='all')
    // for-mobile-apps
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    // <meta name="keywords" content="" />
    script(type='application/x-javascript').
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    // //for-mobile-apps
    // js
    script(type='text/javascript', src='js/jquery.min.js')
    // js
    // start-smooth-scrolling
    script(type='text/javascript', src='js/move-top.js')
    script(type='text/javascript', src='js/easing.js')
    script(type='text/javascript').
      jQuery(document).ready(function($) {
      $(".scroll").click(function(event){
      event.preventDefault();
      $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
      });
      });
    // start-smooth-scrolling
  body
    // banner
    #home.banner
      .container
        .top-header.row
          script(src='js/classie.js')
          // top-nav--
          //
            <div class="logo">
            <a href="index.html"><img src="images/logo.png" alt=""/></a>
            </div>
          .top-nav
            .nav-icon
              a#activator.right_bt(href='#')
                span  
            #box.box
              .box_content
                .box_content_center
                  .form_content
                    .menu_box_list
                      ul
                        li
                          a.scroll(href='#home')
                            span home
                        li
                          a.scroll(href='#about')
                            span about
                        li
                          a.scroll(href='#services')
                            span services
                        li
                          a.scroll(href='#portfolio')
                            span portfolio
                        li
                          a.scroll(href='#testimonial')
                            span Testimonial
                        li
                          a.scroll(href='#blog')
                            span blog
                        li
                          a.scroll(href='#contact')
                            span Contact
                        .clearfix  
                    a#boxclose.boxclose
                      span  
          // -start-click-drop-down-menu---
          // --start-dropdown-
          script(type='text/javascript').
            var $ = jQuery.noConflict();
            $(function() {
            $('#activator').click(function(){
            $('#box').animate({'top':'0px'},900);
            });
            $('#boxclose').click(function(){
            $('#box').animate({'top':'-1000px'},900);
            });
            });
            $(document).ready(function(){
            //Hide (Collapse) the toggle containers on load
            $(".toggle_container").hide();
            //Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
            $(".trigger").click(function(){
            $(this).toggleClass("active").next().slideToggle("slow");
            return false; //Prevent the browser jump to the link anchor
            });
            });
          // -//End-click-drop-down-menu---
          .clearfix  
        .banner-info
          .banner-left
            img(src='images/kevindice.png', alt='')
          .banner-right
            h1 KEVIN DICE
            .border
            h2 title goes here
            a(href='#') DOWNLOAD MY RESUME
          .clearfix
    // /header-banner
    // about
    #about.about.text-center
      .container
        h3 ABOUT ME
        .strip.text-center
          img(src='images/about.png', alt=' ')
        p About me paragraph goes here
        ul
          li
            a.fb(href='#')
          li
            a.twit(href='https://twitter.com/__kevindice__')
          li
            a.in(href='https://www.linkedin.com/in/kevindice')
          li
            a.drib(href='#')
          li
            a.goog(href='#')
          li
            a.pin(href='#')
    // //about
    .about-back
    // my skill
    .my-skills.text-center
      .container
        h3 MY SKILLS
        .strip.text-center
          img(src='images/skill.png', alt=' ')
        .skill-grids
          .col-md-2.skills-grid.text-center
            #circles-1.circle
            p Photoshop
          .col-md-2.skills-grid.text-center
            #circles-2.circle
            p Illustrator
          .col-md-2.skills-grid.text-center
            #circles-3.circle
            p Photography
          .col-md-2.skills-grid.text-center
            #circles-4.circle
            p Html 5 / CSS 3
          .col-md-2.skills-grid.text-center
            #circles-5.circle
            p C4D
          .col-md-2.skills-grid.text-center
            #circles-6.circle
            p After Effect
          .clearfix  
          script(type='text/javascript', src='js/circles.js')
          script.
            var colors = [
            ['#6ed4c0', '#ffffff'], ['#6ed4c0', '#ffffff'], ['#6ed4c0', '#ffffff'], ['#6ed4c0', '#ffffff'], ['#6ed4c0', '#ffffff'], ['#6ed4c0', '#ffffff']
            ];
            for (var i = 1; i <= 7; i++) {
            var child = document.getElementById('circles-' + i),
            percentage = 30 + (i * 10);
            Circles.create({
            id:         child.id,
            percentage: percentage,
            radius:     80,
            width:      10,
            number:   	percentage / 1,
            text:       '%',
            colors:     colors[i - 1]
            });
            }
    // //my skill
    .my-skill-back
    // education
    .education.text-center
      .container
        .edu-info
          h3 EDUCATION
        .strip.text-center
          img(src='images/edu.png', alt=' ')
        .edu-grids
          .col-md-4.edu-grid
            p 2012 - 2013
            span Graduated
            img(src='images/arrow.png', alt='')
            .edu-border
              .edu-grid-master
                h3 MASTER DEGREE OF COMPUTER SCIENCE
                h4 Oxford University
              .edu-grid-info
                h5
                  | This is Photoshop's version Lorem Ipsum.
                  | Well, the way they make shows is, they make one show.
          .col-md-4.edu-grid
            p 2012 - 2013
            span Graduated
            img(src='images/arrow.png', alt='')
            .edu-border
              .edu-grid-master
                h3 MASTER DEGREE OF COMPUTER SCIENCE
                h4 Oxford University
              .edu-grid-info
                h5
                  | This is Photoshop's version Lorem Ipsum.
                  | Well, the way they make shows is, they make one show.
          .col-md-4.edu-grid
            p 2012 - 2013
            span Graduated
            img(src='images/arrow.png', alt='')
            .edu-border
              .edu-grid-master
                h3 MASTER DEGREE OF COMPUTER SCIENCE
                h4 Oxford University
              .edu-grid-info
                h5
                  | This is Photoshop's version Lorem Ipsum.
                  | Well, the way they make shows is, they make one show.
          .clearfix
    // //education
    .strip-border
      p
    // work
    .work-experience.text-center
      .container
        .work-info
          h3 WORK EXPERIENCE
        .strip.text-center
          img(src='images/work.png', alt=' ')
        .work-grids
          .col-md-4.w-grid
            .work-grid
              h3 2013 - Now
              .work-grid-info
                h4 Google
                h5 Visual Designer
                p
          .col-md-4.w-grid
            .work-grid
              h3 2013 - Now
              .work-grid-info
                h4 Google
                h5 Visual Designer
                p
          .col-md-4.w-grid
            .work-grid
              h3 2013 - Now
              .work-grid-info
                h4 Google
                h5 Visual Designer
                p
          .clearfix
    // //work
    .services-back
    // services
    #services.services.text-center
      .container
        .ser-info
          h3 SERVICES
        .strip.text-center
          img(src='images/ser.png', alt=' ')
        .ser-grids
          .col-md-3.ser-grid
            .ser-imagea
            h3 Web Design
            p
          .col-md-3.ser-grid
            .ser-imageb
            h3 Graphic Design
            p
          .col-md-3.ser-grid
            .ser-imagec
            h3 Content Writer
            p
          .col-md-3.ser-grid
            .ser-imaged
            h3 Development
            p
          .clearfix
    // //services
    // portfolio
    #portfolio.gallery-section.text-center
      .container
        h3 PORTFOLIO
        .strip.text-center
          img(src='images/port.png', alt=' ')
        p
        .gallery-grids
          .top-gallery
            .col-md-4.gallery-grid.gallery1
              a.swipebox(href='images/p1.jpg')
                img.img-responsive(src='images/p1.jpg', alt='/')
                .textbox
                  h4 Project Name
                  p WEB DESIGN
                  .button
                    a.swipebox(href='images/p1.jpg') VIEW
            .col-md-4.gallery-grid.gallery1
              a.swipebox(href='images/p2.jpg')
                img.img-responsive(src='images/p2.jpg', alt='/')
                .textbox
                  h4 Project Name
                  p WEB DESIGN
                  .button
                    a.swipebox(href='images/p2.jpg') VIEW
            .col-md-4.gallery-grid.gallery1
              a.swipebox(href='images/p3.jpg')
                img.img-responsive(src='images/p3.jpg', alt='/')
                .textbox
                  h4 Project Name
                  p WEB DESIGN
                  .button
                    a.swipebox(href='images/p3.jpg') VIEW
            .col-md-4.gallery-grid.gallery1
              a.swipebox(href='images/p4.jpg')
                img.img-responsive(src='images/p4.jpg', alt='/')
                .textbox
                  h4 Project Name
                  p WEB DESIGN
                  .button
                    a.swipebox(href='images/p4.jpg') VIEW
            .col-md-4.gallery-grid.gallery1
              a.swipebox(href='images/p5.jpg')
                img.img-responsive(src='images/p5.jpg', alt='/')
                .textbox
                  h4 Project Name
                  p WEB DESIGN
                  .button
                    a.swipebox(href='images/p5.jpg') VIEW
            .col-md-4.gallery-grid.gallery1
              a.swipebox(href='images/p6.jpg')
                img.img-responsive(src='images/p6.jpg', alt='/')
                .textbox
                  h4 Project Name
                  p WEB DESIGN
                  .button
                    a.swipebox(href='images/p6.jpg') VIEW
            .clearfix  
          link(rel='stylesheet', href='css/swipebox.css')
          script(src='js/jquery.swipebox.min.js')
          script(type='text/javascript').
            jQuery(function($) {
            $(".swipebox").swipebox();
            });
    // //portfolio
    // process
    .process.text-center
      .container
        h3 PROCESS
        .strip.text-center
          img(src='images/pro.png', alt=' ')
        .process-girds
          .col-md-2.process-pad
            .process-gird
              .process-imagea
              p IDEA
              img(src='images/6.png', alt='')
          .col-md-2.process-pad
            .process-gird
              .process-imageb
              p CONCEPT
              img.pro-imga(src='images/6.png', alt='')
          .col-md-2.process-pad
            .process-gird
              .process-imagec
              p DESIGN
              img.pro-img(src='images/6.png', alt='')
          .col-md-2.process-pad
            .process-gird
              .process-imaged
              p DEVELOP
              img.pro-imgb(src='images/6.png', alt='')
          .col-md-2.process-pad
            .process-gird
              .process-imagee
              p TEST
              img(src='images/6.png', alt='')
          .col-md-2.process-pad
            .process-gird
              .process-imagef
              p LAUNCH
          .clearfix
    // //process
    .process-back
    // testimonials
    #testimonial.testimonials
      .container
        h3 TESTIMONIAL
        .strip.text-center
          img(src='images/test.png', alt=' ')
        // responsiveslides
        script(src='js/responsiveslides.min.js')
        script.
          // You can also use "$(window).load(function() {"
          $(function () {
          // Slideshow 4
          $("#slider3").responsiveSlides({
          auto: true,
          pager: false,
          nav: true,
          speed: 500,
          namespace: "callbacks",
          before: function () {
          $('.events').append("<li>before event fired.</li>");
          },
          after: function () {
          $('.events').append("<li>after event fired.</li>");
          }
          });
          });
        // responsiveslides
        #top.callbacks_container
          ul#slider3.rslides
            li
              .test-banner
                img.quoa(src='images/quo2.png', alt='')
                .test-left
                  img(src='images/7.png', alt='')
                .test-right
                  p
                    | However unreal it may seem, we are connected,
                    | you and I. We're on the same curve, just on opposite ends.
                  h4 Sam L. J. - Pulp Fiction
                .clearfix
                img.quo(src='images/quo1.png', alt='')
            li
              .test-banner
                img.quoa(src='images/quo2.png', alt='')
                .test-left
                  img(src='images/eee.png', alt='')
                .test-right
                  p
                    | However unreal it may seem, we are connected,
                    | you and I. We're on the same curve, just on opposite ends.
                  h4 Sam L. J. - Pulp Fiction
                .clearfix
                img.quo(src='images/quo1.png', alt='')
    // testimonials
    // clients
    .clients.text-center
      .container
        h4 Clients
        .strip-line
        .client-grids
          .col-md-4.cl-grid
            .client-grid
              img(src='images/10.png', alt='')
          .col-md-4.cl-grid
            .client-grid
              img(src='images/11.png', alt='')
          .col-md-4.cl-grid
            .client-grid
              img(src='images/12.png', alt='')
          .clearfix
    // clients
    .client-back
    // blog
    #blog.blog
      .container
        .blog-info.text-center
          h3 BLOG
          .strip.text-center
            img(src='images/blog.png', alt=' ')
        .blog-grids
          .col-md-4.blog-text-info
            .blog-grid
              a(href='single.html')
                img(src='images/a.jpg', alt='')
              .blog-text
                a(href='single.html') Nature is lethal but it doesn't hold a candle to man.
                .stripa
                p
                  | Your bones don't break, mine do. That's clear. Your cells react to bacteria
                  | and viruses differently than mine. You don't get sick, I do.
              .blog-para
                ul
                  li
                    a(href='#') 3 Comments
                  li
                    a(href='#') 8 Share
              .blog-pos
                p
                  | 5
                  span May
          .col-md-4.blog-text-info
            .blog-grid
              a(href='single.html')
                img(src='images/b.jpg', alt='')
              .blog-text
                a(href='single.html') Nature is lethal but it doesn't hold a candle to man.
                .stripa
                p
                  | Your bones don't break, mine do. That's clear. Your cells react to bacteria
                  | and viruses differently than mine. You don't get sick, I do.
              .blog-para
                ul
                  li
                    a(href='#') 3 Comments
                  li
                    a(href='#') 8 Share
              .blog-pos
                p
                  | 5
                  span May
          .col-md-4.blog-text-info
            .blog-grid
              a(href='single.html')
                img(src='images/c.jpg', alt='')
              .blog-text
                a(href='single.html') Nature is lethal but it doesn't hold a candle to man.
                .stripa
                p
                  | Your bones don't break, mine do. That's clear. Your cells react to bacteria
                  | and viruses differently than mine. You don't get sick, I do.
              .blog-para
                ul
                  li
                    a(href='#') 3 Comments
                  li
                    a(href='#') 8 Share
              .blog-pos
                p
                  | 5
                  span May
          .col-md-4.blog-text-info
            .blog-grid
              a(href='single.html')
                img(src='images/a.jpg', alt='')
              .blog-text
                a(href='single.html') Nature is lethal but it doesn't hold a candle to man.
                .stripa
                p
                  | Your bones don't break, mine do. That's clear. Your cells react to bacteria
                  | and viruses differently than mine. You don't get sick, I do.
              .blog-para
                ul
                  li
                    a(href='#') 3 Comments
                  li
                    a(href='#') 8 Share
              .blog-pos
                p
                  | 5
                  span May
          .col-md-4.blog-text-info
            .blog-grid
              a(href='single.html')
                img(src='images/b.jpg', alt='')
              .blog-text
                a(href='single.html') Nature is lethal but it doesn't hold a candle to man.
                .stripa
                p
                  | Your bones don't break, mine do. That's clear. Your cells react to bacteria
                  | and viruses differently than mine. You don't get sick, I do.
              .blog-para
                ul
                  li
                    a(href='#') 3 Comments
                  li
                    a(href='#') 8 Share
              .blog-pos
                p
                  | 5
                  span May
          .col-md-4.blog-text-info
            .blog-grid
              a(href='single.html')
                img(src='images/c.jpg', alt='')
              .blog-text
                a(href='single.html') Nature is lethal but it doesn't hold a candle to man.
                .stripa
                p
                  | Your bones don't break, mine do. That's clear. Your cells react to bacteria
                  | and viruses differently than mine. You don't get sick, I do.
              .blog-para
                ul
                  li
                    a(href='#') 3 Comments
                  li
                    a(href='#') 8 Share
              .blog-pos
                p
                  | 5
                  span May
          .clearfix
    // //blog
    .contact-back
    // contact
    #contact.contact
      .container
        .contact-info.text-center
          h3 CONTACT
          .strip.text-center
            img(src='images/con1.png', alt=' ')
        .contact-grids
          .col-md-5.contact-left
            h3 Say Hi to Me
            .stripb
            ul
              li Orchard Park, Long Bennington, 
              li Newark, Lincolnshire 
              li NG23 5DQ, United Kingdom
              li 9876543210
              li
                a(href='mailto:info@example.com') Sebastian@mail.com
              li
                a(href='#') www.sebasti.an
          .col-md-7.contact-right
            h3 Drop Me A Line
            .stripb
            form
              input(type='text', value='Name', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Name';}", required='')
              input(type='text', value='E-mail', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'E-mail';}", required='')
              textarea(type='text', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Message';}", required='') Message
              input(type='submit', value='SEND')
          .clearfix
    // //contact
    .footer-top
    // resume
    .resume.text-center
      .container
        .strip.text-center
          a(href='#')
            img(src='images/down.png', alt=' ')
        .down
          a(href='#') Download My Resume
    // //resume
    // footer
    .footer
      .container
        p
          | Copyright © 2015 Kong. Template by 
          a(href='http://w3layouts.com/')  W3layouts
    // //footer
    // here stars scrolling icon
    script(type='text/javascript').
      $(document).ready(function() {
      /*
      var defaults = {
      containerID: 'toTop', // fading element id
      containerHoverID: 'toTopHover', // fading element hover id
      scrollSpeed: 1200,
      easingType: 'linear'
      };
      */
      $().UItoTop({ easingType: 'easeOutQuart' });
      });
    // //here ends scrolling icon
